<%= form_for(contact_message) do |f| %>
  <% if contact_message.errors.any? %>
    <div id="error_explanation" class="mdl-card__menu mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= pluralize(contact_message.errors.count, "error") %> prohibited this contact_message from being saved:</h2>
      </div>

      <div class="mdl-card__supporting-text">
      <% contact_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </div>
    </div>
  <% end %>

  <%= f.label :name, class: 'field-label-2', for: 'name' %>
  <%= f.text_field :name, class: 'w-input', id: 'name', placeholder: 'Enter your name', maxlength:'256' %>

  <%= f.label :email, class: 'field-label', for: 'email' %>
  <%= f.text_field :email, class: 'w-input', id: 'email', placeholder: 'Enter your email', maxlength:'256' %>

  <%= f.text_area :text, class: 'textarea w-input', name: 'text', placeholder: 'Send us a message!', maxlength:'5000' %>

  <%= f.submit "Send", class: 'submit-button w-button' %>

<% end %>
